<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Manager</title>
  <link rel="stylesheet" href="/static/style.css">
 
</head>
<body>
<nav class="navbar">
  <div class="logo">📦 Inventory Manager</div>
  <div id="userInfo" style="margin-bottom: 10px; font-weight: bold;"></div>
  <button id="logoutBtn" class="login-btn">Logout</button>


</nav>

<main class="container">
  <div class="search-area">
    <input type="text" id="searchInput" placeholder="Artikel Name eingeben..."/>
    <button id="addItemBtn" class="btn-primary">+ Neuer Artikel</button>

    <form id="addItemForm" class="add-item-form" style="display:none; margin-top:15px;">
      <input type="text" id="itemType" placeholder="Typ" required />
      <input type="text" id="itemName" placeholder="Name" required />

      <textarea id="itemNotes" placeholder="Notizen"></textarea>
      <button type="submit" class="btn-primary">Artikel speichern</button>
    </form>

  </div>

  <section class="stats">
    <div class="stat-card violet">
      <div class="icon">📊</div>
      <div>
        <p>Gesamtartikel</p>
        <h2 id="totalItems">0</h2>
      </div>
    </div>
    <div class="stat-card green">
      <div class="icon">📂</div>
      <div>
        <p>Verschiedene Types</p>
        <h2 id="totalTypes">0</h2>
      </div>
    </div>
    <div class="stat-card orange">
      <div class="icon">🕒</div>
      <div>
        <p>Heute hinzugefügt</p>
        <h2 id="todayAdded">0</h2>
      </div>
    </div>
  </section>

  <table class="inventory-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Name</th>
      <th>date_added</th>
      <th>date_removed</th>
      <th>notes</th>


    </tr>
    </thead>
    <tbody id="inventoryBody"></tbody>
  </table>
  <div id="inventoryItem"></div>




</main>




</body>
<script src="/static/app.js"></script>
</html>
